{#{% extends "home/base.html" %}#}
{% load crispy_forms_filters %}
{% block title %}Create an Account{% endblock  %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST" class="form-group">
        {% csrf_token %}
        {#Cripsy dodaje dobry wygląd dla naszych formularzy#}
	    {{ form|crispy }}
	<button type="submit" class="btn btn-success">Register</button>
    <p>Already got an account <a href="/Registration/templates/Registration/login.html">here</a></p>
    </form>
{% endblock %}